.swp
.php~
stats/
errors/
deploy.sh
upload/
bitrix/html_pages/
bitrix/cache/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/tmp/
bitrix/stats/
bitrix/.settings.php
bitrix/php_interface/dbconn.php
bitrix/php_interface/.#dbconn.php
bitrix/modules/updater.log
bitrix/modules/updater_partner.log
bitrix/themes/.default/modules.css
node_modules/
*.sql
upload.tgz
.idea/
.sass-cache/
*.iml
.htaccess
.htaccess.swp
.htpasswd
bower.json
.bowerrc
robots.txt
.DS_Store
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

wp-config.php
wp-content/uploads/
wp-content/plugins/really-simple-captcha/tmp/
wp-content/uploads/
